p{
  font-family: Georgia, serif;
}
body {
  text-align: center;
  background-color: #ffffff;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  text-shadow: 5px 0 #232931;
  color: #753c44
}
footer{
  text-align: center;

}

button{
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  padding: 11px 15px;
  color: #fff;
  transition: all .2s ease-in-out; 
}

  button:hover { 
  transform: scale(1.01); 
  }

  .drum {
    outline: none;
    border: 4px solid #cccccc;
    font-size: 3rem;
    line-height: 2;
    font-weight: 900;
    color: #535353;
    text-shadow: 3px 0 #000000;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    filter: drop-shadow(2px 4px 6px #0000005a);

}
.event{
  
}

.event:hover:before{
  background-color: rgba(248, 244, 244, 0.264) !important;
  
}

.event:before {
  content: ""; /* Pseudo-element for the overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(179, 204, 215, 0.5); /* Adjust opacity here */
  pointer-events: none; /* Allow clicks to go through the overlay */
  z-index:-1 ; /* Place the overlay behind the content */
}


.w {
  background-image: url(images/crash.png);
  
}

.a {
  background-image: url(images/tom1.png);
  
}

.s {
  background-image: url(images/kick.png);
  
}

.d {
  background-image: url(images/snare.png);
 
}

.j {
  background-image: url(images/tom2.png);
  
}

.k {
  
  background-image: url(images/tom3.png);
}

.l {
  background-image: url(images/tom4.png);
  
}

.set {
  margin: 10% auto;
}

